
<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu overflow-auto" data-sidebar-anyclick-close="">
        <div class="nav">
            <!-- Main Dashboard -->
            <div class="sb-sidenav-menu-heading text-alpha-inverse">@SharedLocalizer.GetLocalizedHtmlString("Overview")</div>
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                @SharedLocalizer.GetLocalizedHtmlString("Dashboard")
            </a>
            @*<a class="nav-link" asp-controller="Mailbox" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-envelope-open-text"></i></div>
                @SharedLocalizer.GetLocalizedHtmlString("Mailbox")
            </a>*@

            <!-- Dashboards and reporting -->
            <div class="sb-sidenav-menu-heading text-alpha-inverse">@SharedLocalizer.GetLocalizedHtmlString("Business Information")</div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReports" aria-expanded="false" aria-controls="collapseTasks">
                <div class="sb-nav-link-icon"><i class="fas fa-signal"></i></div>
                @SharedLocalizer.GetLocalizedHtmlString("Reports Dashboards")
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseReports" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-controller="MonthlySales" asp-action="MonthlySales"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Sales Dashboard")</a>
                    <a class="nav-link" asp-controller="BusinessReports" asp-action="Index"><i class="fas fa-angle-double-right  mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Business Reports")</a>
                    <a class="nav-link" asp-controller="BusinessReports" asp-action="BusinessSnapshot"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Business Analytics")</a>
                </nav>
            </div>

            <!-- Task Manager -->
            <div class="sb-sidenav-menu-heading text-alpha-inverse">@SharedLocalizer.GetLocalizedHtmlString("Task Management")</div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTasks" aria-expanded="false" aria-controls="collapseTasks">
                <div class="sb-nav-link-icon"><i class="fas fa-lightbulb"></i></div>
                @SharedLocalizer.GetLocalizedHtmlString("Manage My Day")
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseTasks" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-controller="Calendar" asp-action="Index"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Calendar")</a>
                    <a class="nav-link" asp-controller="ToDoList" asp-action="Index"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" To Do List")</a>
                    @*<a class="nav-link" asp-controller="TaskManager" asp-action="Index"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Job Scheduling")</a>*@
                    <a class="nav-link" asp-controller="GoogleMaps" asp-action="Index"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Google Maps")</a>
                    @*<a class="nav-link" asp-controller="FileManager" asp-action="Index"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" File Manager")</a>*@
                </nav>
            </div>
            <!-- Leads Manager -->
            <div class="sb-sidenav-menu-heading text-alpha-inverse">@SharedLocalizer.GetLocalizedHtmlString("Leads Management")</div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLeads" aria-expanded="false" aria-controls="collapseCustomers">
                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                @SharedLocalizer.GetLocalizedHtmlString("Manage Leads")
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLeads" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-controller="Leads" asp-action="LeadsDashboard"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Leads Dashboard")</a>
                    <a class="nav-link" asp-controller="Leads" asp-action="Index"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" View Leads")</a>
                    <a class="nav-link" asp-controller="Leads" asp-action="Create"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Add New Lead")</a>
                </nav>
            </div>

            <!-- Customer Manager -->
            <div class="sb-sidenav-menu-heading text-alpha-inverse">@SharedLocalizer.GetLocalizedHtmlString("Customer Management")</div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomers" aria-expanded="false" aria-controls="collapseCustomers">
                <div class="sb-nav-link-icon"><i class="fas fa-address-book"></i></div>
                @SharedLocalizer.GetLocalizedHtmlString("Manage Customers")
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseCustomers" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-controller="Customers" asp-action="CustomerDashboard"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Customer Dashboard")</a>
                    <a class="nav-link" asp-controller="Customers" asp-action="Index"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" View Customers")</a>
                    <a class="nav-link" asp-controller="Customers" asp-action="CreateCustomer"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Add New Customer")</a>
                </nav>
            </div>

            <!--Service Contract Manager -->
            <div class="sb-sidenav-menu-heading">@SharedLocalizer.GetLocalizedHtmlString("Contract Management")</div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContracts" aria-expanded="false" aria-controls="collapseContracts">
                <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>@SharedLocalizer.GetLocalizedHtmlString("Manage Contracts")
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>

            <div class="collapse" id="collapseContracts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-controller="ServiceCustomers" asp-action="ServiceContractManager"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Contract Dashboard")</a>
                    <a class="nav-link" asp-controller="Pricing" asp-action="Index"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" View Pricing")</a>
                </nav>
            </div>

            @*<div class="sb-sidenav-menu-heading">@SharedLocalizer.GetLocalizedHtmlString("User Management")</div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            @SharedLocalizer.GetLocalizedHtmlString("Layouts")
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" asp-controller="home" asp-action="LayoutStatic">@SharedLocalizer.GetLocalizedHtmlString("Static Navigation")</a>
                <a class="nav-link" asp-controller="home" asp-action="SidenavLight">@SharedLocalizer.GetLocalizedHtmlString("Light Sidenav")</a>
            </nav>
        </div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                @SharedLocalizer.GetLocalizedHtmlString("Pages")
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                        @SharedLocalizer.GetLocalizedHtmlString("Authentication")
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" asp-controller="Account" asp-action="Login"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Login")</a>
                            <a class="nav-link" asp-controller="Account" asp-action="Register"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Register")</a>
                            <a class="nav-link" asp-controller="Account" asp-action="ForgotPassword"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" Forgot Password")</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                        @SharedLocalizer.GetLocalizedHtmlString("Error")
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" asp-controller="home" asp-action="_401"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" 401 Page")</a>
                            <a class="nav-link" asp-controller="home" asp-action="_404"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" 404 Page")</a>
                            <a class="nav-link" asp-controller="home" asp-action="_500"><i class="fas fa-angle-double-right mr-1 text-muted"></i>@SharedLocalizer.GetLocalizedHtmlString(" 500 Page")</a>
                        </nav>
                    </div>
                </nav>
            </div>*@
        </div>
        </div>
    @await Html.PartialAsync("_LoginPartial")
</nav>