@model IEnumerable<BlueMoonAdmin.Models.ToDoListItem>
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <h1 class="mt-4 p-2">Manage Your Day</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">My To Do List</li>
    </ol>
    <div class="row pt-4 p-4">
        <div class="col-6">
            <h3 class="text-black">Manage your time - use the create new button to add item(s)</h3>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="ToDoList" asp-action="Create" class="btn btn-primary">Create New To Do Item</a>
        </div>
    </div>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i> To Search for a task start typing in the search, the table will automaically search as you type</div>
    <div class="card-body">
        <div class="table-responsive">
            @if (Model.Count() > 0)
            {
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date:</th>
                        <th>Task Details:</th>
                        <th>Category:</th>
                        <th>Importance:</th>
                        <th>Completed:</th>
                        <th>Update:</th>
                        <th>Delete:</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        @*<th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>*@
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td width="10%">@item.ToDoDate.ToShortDateString().ToString()</td>
                            <td width="40%">@item.ToDoTask</td>
                            <td width="10%">@item.ToDoCategory</td>
                            <td width="10%">@item.ToDoImportance</td>
                            <td width="10%">@item.Completed</td>

                            <td width="8%">
                                <div class="col-6 p-0 text-center">
                                    <a asp-controller="Item" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-secondary">Update</a>
                                </div>
                            </td>
                            <td width="8%">
                                <div class="col-6 p-0 text-center">
                                    <a asp-controller="Item" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
                <p>No items have been created yet</p>
            }

        </div>
    </div>
</div>
    </div>
@section Scripts{
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/datatables-demo.js"></script>
}
