@model BlueMoonAdmin.Models.ViewModels.ServiceViewModel

@{
    ViewData["Title"] = "ServiceCustomer";
}
<form method="post" asp-action="UpdateServiceContract">
    <div class="container-fluid">
        <h1 class="mt-4">Edit Service Contract </h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="ServiceCustomers" asp-action="ServiceContractManager">Dashboard</a></li>
            <li class="breadcrumb-item active">Edit Contract</li>
        </ol>
        <input asp-for="ServiceCustomer.Id" hidden />
        <input asp-for="ServiceCustomer.CustomerId" class="form-control" hidden />
        <!-- #region Form -->
        <div class="container col-12 mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ServiceCustomer.ServiceContract"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="ServiceCustomer.StartDate"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="ServiceCustomer.RenewalDate"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="ServiceCustomer.CurrentMachine"></label>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-3">
                            <select asp-for="ServiceCustomer.ServiceContract" class="form-control">
                                <option>-- Select Option --</option>
                                <option>Bronze</option>
                                <option>Silver</option>
                                <option>Gold</option>
                            </select>
                        </div>

                        <div class="col-3">
                            <input asp-for="ServiceCustomer.StartDate" class="form-control" type="date" />
                        </div>
                        <div class="col-3">
                            <input asp-for="ServiceCustomer.RenewalDate" class="form-control" type="date" />
                        </div>
                        <div class="col-3">
                            <input asp-for="ServiceCustomer.CurrentMachine" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ServiceCustomer.LastServiceDate"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="ServiceCustomer.NextServiceDate"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <input asp-for="ServiceCustomer.LastServiceDate" class="form-control">
                        </div>
                        <div class="col-3">
                            <input asp-for="ServiceCustomer.NextServiceDate" class="form-control">
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-2 mt-3">
                            <label asp-for="ServiceCustomer.Service"></label>
                        </div>
                        <div class="col-1 mt-3">
                            <input asp-for="ServiceCustomer.Service" class="form-control">
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-8 offset-2 row">
                            <div class="col">
                                <input type="submit" class="btn btn-info w-75" value="Save Changes" />
                            </div>
                            <div class="col">
                                <a asp-action="AddService" asp-route-Id="@Model.ServiceCustomer.Id" class="btn btn-primary w-75">Add Service</a>
                            </div>
                            <div class="col">
                                <a asp-action="ServiceContractManager" class="btn btn-danger w-75">Back</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- #endregion -->
        </div>
    </div>
</form>


    <div class="container-fluid">
        <ul class="nav nav-tabs" role="tablist" id="cust-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#service-note" data-toggle="tab" id="Service-Notes" aria-selected="true">Service contract notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#service-history" data-toggle="tab" id="Service-History" aria-selected="false">Service History</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <!-- #region Notes-->
       
        
                            <div id="service-note" class="col-12 tab-pane fade show active container-fluid" role="tabpanel" aria-labelledby="Service-Notes">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-6 pt-2">
                                                <i class="fas fa-table mr-1"></i> Service contract notes
                                            </div>
                                            <div class="col-6 text-right">
                                                <a asp-controller="ServiceCustomers" asp-action="CreateServiceNotes" asp-route-Id="@Model.ServiceCustomer.CustomerId" class="btn btn-primary">New Contract Note</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTableServiceNotes" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        @*<th>Category</th>*@
                                                        <th>Note</th>
                                                        <th>Update:</th>
                                                        <th>Delete:</th>
                                                    </tr>
                                                </thead>


                                                <tbody>
                                                    @foreach (var item in Model.Notes)
                                                    {
                                                        if (item.Category == "Contract Notes")
                                                        {

                                                    <tr>
                                                        <td>@item.Date</td>
                                                        @*<td>@item.Category</td>*@
                                                        <td>@item.notes</td>                                                        
                                                        <td width="6%">
                                                            <div class="col-6 p-0 text-center">
                                                                <a asp-controller="" asp-action="" asp-route-Id="@item.Id" class="btn btn-primary">Update</a>
                                                            </div>
                                                        </td>
                                                        <td width="6%">
                                                            <div class="col-6 p-0 text-center">
                                                                <a asp-controller="" asp-action="" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- #endregion-->
                            <!-- #region History-->
                            <div id="service-history" class="col-12 tab-pane fade show  container-fluid" role="tabpanel" aria-labelledby="Service-History">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-table mr-1"></i> Service history list</div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTableServiceHistory" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Service Date</th>
                                                        <th>Engineer Name</th>
                                                        <th>Service Comments</th>
                                                        <th>Service Type</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in Model.Notes)
                                                    {
                                                        if (item.Category == "Service Notes")
                                                        {
                                                            <tr>
                                                                <td><input asp-for="@item.Date" type="datetime-local" readonly style="border: 0px; background-color:white" /></td>
                                                                <td>@item.EngineerName</td>
                                                                <td>@item.notes</td>
                                                                <td>@item.ServiceType</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #endregion-->
                    </div>


                    @section Scripts{
                        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
                        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
                        <script src="~/assets/demo/datatables-demo.js"></script>
                    }
