@model BlueMoonAdmin.Models.ViewModels.DashboardViewModel
@inject BlueMoonAdmin.Resources.LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Dashboard");
}

<div class="container-fluid">
    <h1 class="mt-4">@SharedLocalizer.GetLocalizedHtmlString("Dashboard")</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">@SharedLocalizer.GetLocalizedHtmlString("Quick Access")</li>
    </ol>
    <!-- START cards box-->
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <!-- START card-->
            <div class="card flex-row align-items-center align-items-stretch border-0">
                <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                    <em class="icon-user fa-3x"></em>
                </div>
                <div class="col-8 py-3 bg-primary rounded-right">
                    <div class="h3 mt-0">Customer Manager</div>
                    <a class="text-white" asp-controller="Customers" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("View / Edit Customers ")</a>
                    <i class="fas fa-angle-right ml-2"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
            <!-- START card-->
            <div class="card flex-row align-items-center align-items-stretch border-0">
                <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
                    <em class="icon-event fa-3x"></em>
                </div>
                <div class="col-8 py-3 bg-purple rounded-right">
                    <div class="h3 mt-0">Calendar Manager</div>
                    <a class="text-white" asp-controller="Calendar" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("View my calendar ")</a>
                    <i class="fas fa-angle-right ml-2"></i>
                </div>
            </div>
        </div>
        <!--<div class="col-xl-3 col-md-6">-->
        <!-- START card-->
        <!--<div class="card flex-row align-items-center align-items-stretch border-0">
                <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
                    <em class="icon-pin fa-3x"></em>
                </div>
                <div class="col-8 py-3 bg-purple rounded-right">
                    <div class="h3 mt-0">Pending Tasks</div>
                    <a class="text-white" asp-controller="ToDoList" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("View pending tasks ")</a>
                    <i class="fas fa-angle-right ml-2"></i>
                </div>
            </div>
        </div>-->
        <div class="col-xl-3 col-lg-6 col-md-12">
            <!-- START card-->
            <div class="card flex-row align-items-center align-items-stretch border-0">
                <div class="col-4 d-flex align-items-center bg-info-dark justify-content-center rounded-left">
                    <em class="icon-list fa-3x"></em>
                </div>
                <div class="col-8 py-3 bg-info rounded-right">
                    <div class="h3 mt-0">Service Contracts</div>
                    <a class="text-white" asp-controller="ServiceCustomers" asp-action="ServiceContractManager">@SharedLocalizer.GetLocalizedHtmlString("View Dashboard ")</a>
                    <i class="fas fa-angle-right ml-2"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
            <!-- START date widget-->
            <div class="card flex-row align-items-center align-items-stretch border-0">
                <div class="col-4 d-flex align-items-center bg-green justify-content-center rounded-left">
                    <div class="text-center">
                        <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
                        <div class="text-sm" data-now="" data-format="MMMM"></div>
                        <br />
                        <div class="h2 mt-0" data-now="" data-format="D"></div>
                    </div>
                </div>
                <div class="col-8 py-3 rounded-right">
                    <div class="text-uppercase" data-now="" data-format="dddd"></div>
                    <br />
                    <div class="h3 mt-0 pr-2" data-now="" data-format="h:mm"></div>
                    <div class="text-muted text-sm" data-now="" data-format="a"></div>
                </div>
            </div>
        </div> <!-- END date widget-->
    </div>

    <div class="row">
        <!-- START dashboard main content-->
        <div class="col-xl-9">
            <!-- START chart-->
            <div class="row">
                <div class="col-xl-12">
                    <!-- START card-->
                    <div class="card card-default card-demo" id="cardChart9">
                        <div class="card-header">
                            <a class="float-right" href="#" data-tool="card-refresh" data-toggle="tooltip" title="Refresh card">
                                <em class="fas fa-sync"></em>
                            </a>
                            <a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="Collapse card">
                                <em class="fa fa-minus"></em>
                            </a>
                            <div class="card-title">Daily Site Visitors</div>
                        </div>
                        <div class="card-wrapper">
                            <div class="card-body">
                                <div class="chart-spline flot-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END card-->
                </div>
            </div>
            <!-- END chart-->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card border">
                        <a class="weatherwidget-io" href="https://forecast7.com/en/53d48n2d24/manchester/" data-label_1="MANCHESTER" data-label_2="WEATHER" data-theme="pure">MANCHESTER WEATHER</a>
                        <script>
                            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
                        </script>

                    </div>
                </div>
            </div>
            <div class="row">
               <div class="col-xl-12">
                   <div class="card card-default">
                       <div class="card-header">
                          <div class="px-3 float-right badge badge-danger mb-1 ml-2" title="Number of overdue Tasks">
                               <span class="btn-label">
                                   <i class="fas fa-exclamation-triangle"></i>
                               </span>
                               (@Model.TaskOverdueCount)
                           </div>
                         <div class="px-3 float-right badge badge-success mb-1 ml-1" title="Number of tasks completed in last 30 days">
                               <span class="btn-label">
                                   <i class="fas fa-check"></i>
                               </span>
                               (@Model.TaskCompleteCount)
                           </div>                      
                       <div class="card-title"><i class="fas fa-table mr-1"></i>Task Manager - Latest Tasks</div>
                       </div>
                       <div class="card mb-4">
                           <div class="list-group p-3" data-height="230" data-scrollable="">
                               <div class="table-responsive">
                                   @if (Model.ToDoList.Count() > 0)
                                   {
                                       <table class="table table-bordered" id="dataTableToDoDashboard" width="100%" cellspacing="0">
                                           <thead>
                                               <tr>
                                                   <th>Date:</th>
                                                   <th>Due Date:</th>
                                                   <th>Task Details:</th>
                                                   <th>Category:</th>
                                                   <th>Importance:</th>
                                                   <th>Completed:</th>
                                                   <th>Update:</th>
                                                   <th>Delete:</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                               @foreach (var item in Model.ToDoList)
                                               {
                                                   <tr>
                                                       @*Dates put in input fields for formating*@ 
                                                       <td width="10%"><input type="date" readonly style="border: 0px; background-color:white" asp-for="@item.ToDoDate" /></td>
                                                       <td width="10%"><input type="date" readonly style="border: 0px; background-color:white" asp-for="@item.ToDoDueDate" /></td>
                                                       <td width="20%">@item.ToDoTask</td>
                                                       <td width="10%">@item.ToDoCategory</td>
                                                       <td width="10%">@item.ToDoImportance</td>
                                                       <!-- need to format this field to Yes or No instead of True/False -->
                                                       <td width="10%">@item.Completed</td>

                                                       <td width="6%">
                                                           <div class="col-6 p-0 text-center">
                                                               <a asp-controller="ToDoList" asp-action="UpdateToDoList" asp-route-Id="@item.Id" class="btn btn-primary">Update</a>
                                                           </div>
                                                       </td>
                                                       <td width="6%">
                                                           <div class="col-6 p-0 text-center">
                                                               <a asp-controller="ToDoList" asp-action="DeleteToDoItem" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
                                                           </div>
                                                       </td>
                                                   </tr>
                                               }
                                           </tbody>
                                       </table>
                                   }
                                   else
                                   {
                                       <p>No items have been created yet</p>
                                   }

                               </div>
                           </div>
                       </div>
                       <!-- START card footer-->
                       <div class="card-footer">
                           <p class="text-muted">                                                             
                               <span class="text-dark"><a asp-controller="ToDoList" asp-action="Index" class="btn btn-green"><em class="fa fa-inverse fa-cogs fa-fw mr-2"></em> Task Manager Dashboard</a></span>
                           </p>
                       </div>
                       <!-- END card-footer-->
                   </div>
                    </div>
                 </div>
                </div>
                <!-- END dashboard main content-->

                <!-- START dashboard sidebar-->
        <aside class="col-xl-3">
            <!-- START Sales Data Card -->
            <div class="card card-default">
                <div class="card-header">
                    <a class="text-muted float-right" asp-controller="MonthlySales" asp-action="MonthlySales">
                        <em class="fa fa-arrow-right"></em>
                    </a>
                    <div class="text-info">View Sales Reports</div>
                </div>
                <!-- START card-->
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="text-muted mt-0">Last Month &pound;@Model.LastMonth.ToString("#,##0")</h3>
                        <em class="ml-auto text-muted fa fa-pound-sign fa-2x"></em>
                    </div>
                    <div class="py-4" data-sparkline="" data-type="line" data-height="80" data-width="100%" data-line-width="2" 
                         data-line-color="#7266ba" data-spot-color="#888" data-min-spot-color="#7266ba" data-max-spot-color="#7266ba" data-fill-color=""
                         data-highlight-line-color="#fff" data-spot-radius="3" data-values=@Model.ChartSales data-resize="true"></div>
                    <p>
                        <small class="text-muted">Sales YTD &pound;@Model.YearToDate.ToString("#,##0")</small>
                    </p>

                    @*if required, what data do you want in this bar?*@
                    <div class="progress progress-xs mb-3">
                        <div class="progress-bar bg-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">40% Complete</span>
                        </div>
                    </div>

                    <!-- Required for LYTD Sales -->
                    <p>
                        <small class="text-muted">Sales LYTD &pound;@Model.LastYear.ToString("#,##0")</small>
                    </p>
                    <div class="progress progress-xs mb-3">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">40% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-muted">
                        <em class="fa fa-signal fa-fw"></em>
                        <a class="text-muted" asp-controller="MonthlySales" asp-action="MonthlySales">Go to Sales Dashboard</a>
                    </p>
                </div>

                <!-- END card-->
            </div>
            <!-- START service widget-->
            <div class="card card-default">
                <div class="card-body">
                    <a class="text-muted float-right" asp-controller="ServiceCustomers" asp-action="ServiceContractManager">
                        <em class="fa fa-arrow-right"></em>
                    </a>
                    <div class="text-info">View Service Reports</div>
                    <div class="text-center py-4">
                        <div class="easypie-chart easypie-chart-lg" data-easypiechart="data-easypiechart" data-percent=@Model.ServicePercentage
                             data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}"
                             data-bar-color="#23b7e5" data-track-Color="rgba(200,200,200,0.4)"
                             data-scale-Color="false" data-line-width="10" data-line-cap="round" data-size="145">
                            <span>@Model.ServicePercentage%</span>
                        </div>
                    </div>
                    <div class="text-center text-green">Completed in current month</div>
                    <div class="text-center text-green">Compared to total due</div>
                </div>
                <div class="card-footer">
                    <p class="text-muted">
                        <em class="fa fa-cogs fa-fw"></em>
                        <span>This Month</span>
                        <span class="text-dark">@Model.MonthlyServiceCount Service(s) Were Due</span>
                    </p>
                </div>
            </div>
            <!-- END Service widget-->
        </aside>
                <!-- END dashboard sidebar-->
            </div>


    @*<div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>@SharedLocalizer.GetLocalizedHtmlString("Daily Site Visitors")
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar mr-1"></i>@SharedLocalizer.GetLocalizedHtmlString("Monthly Website Revenue")
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100" height="40"></canvas></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>@SharedLocalizer.GetLocalizedHtmlString("Service Contracts")
                    </div>
                    <div class="card-body"><canvas id="myPieChart" width="100" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar mr-1"></i>@SharedLocalizer.GetLocalizedHtmlString("Service Contract Sales")
                    </div>
                    <div class="card-body"><canvas id="myAreaChart2" width="100" height="40"></canvas></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-calendar-alt mr-1"></i>@SharedLocalizer.GetLocalizedHtmlString("My Upcoming Schedule")
                    </div>
                </div>
                <div class="col-xl-12 mt-3">
                    <div class="card border mb-4">
                        <a class="weatherwidget-io" href="https://forecast7.com/en/53d48n2d24/manchester/" data-label_1="MANCHESTER" data-label_2="WEATHER" data-theme="pure">MANCHESTER WEATHER</a>
                        <script>
                            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
                        </script>
                    </div>
                </div>
            </div>
            <link href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler_material.css" rel="stylesheet" type="text/css" />
            <script>
                document.addEventListener("DOMContentLoaded", function (event) {
                    // initializing scheduler
                    scheduler.init("scheduler_here", new Date(2021, 4, 10));

                    // scheduler config
                    scheduler.config.first_hour = 4;
                    //scheduler.config.last_hour = 20;
                    scheduler.config.start_on_monday = true;
                    scheduler.init('scheduler_here', null, "week");

                    // initiating data loading
                    scheduler.load("/api/scheduler");
                    // initializing dataProcessor
                    var dp = new dataProcessor("/api/scheduler");
                    // and attaching it to scheduler
                    dp.init(scheduler);
                    // setting the REST mode for dataProcessor
                    dp.setTransactionMode("REST");
                });
            </script>
            <div class="col-12">
                <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100vh;'>
                    <div class="dhx_cal_navline">
                        <div class="dhx_cal_prev_button">&nbsp;</div>
                        <div class="dhx_cal_next_button">&nbsp;</div>
                        <div class="dhx_cal_today_button"></div>
                        <div class="dhx_cal_tab" name="day_tab"></div>
                        <div class="dhx_cal_tab" name="week_tab"></div>
                        <div class="dhx_cal_tab" name="month_tab"></div>
                    </div>
                    <div class="dhx_cal_header"></div>
                    <div class="dhx_cal_data"></div>
                </div>
            </div>
        </div>*@
</div>
@section Styles {
    <link href="~/assets/vendor/weather-icons/css/weather-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/weather-icons/css/weather-icons-wind.css" rel="stylesheet" />
}

@section Scripts{
    @*<script src="~/assets/demo/chart-area-demo.js"></script>
        <script src="~/assets/demo/chart-bar-demo.js"></script>
        <script src="~/assets/demo/chart-pie-demo.js"></script>
        <script src="~/assets/demo/chart-area-demo2.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js"></script>

    <script src="~/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.js"></script>
    <script src="~/assets//vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.time.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/assets/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
    <script src="~/assets/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <script src="~/assets/demo/datatables-demo.js"></script>
}
