
@{
    ViewData["Title"] = "CustomerDashboard";
}
<div class="container-fluid">
    <h1 class="mt-4">Customer Manager</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Customers" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Customer Overview</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body"> <i class="fas fa-edit"></i> @SharedLocalizer.GetLocalizedHtmlString(" Add New Customer")</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Customers" asp-action="CreateCustomer">@SharedLocalizer.GetLocalizedHtmlString("Add New Customer")</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body"><i class="fas fa-address-book"></i>@SharedLocalizer.GetLocalizedHtmlString(" New Leads") (4)</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">@SharedLocalizer.GetLocalizedHtmlString("Run Leads Report")</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body"> <i class="fas fa-calendar-alt"></i> @SharedLocalizer.GetLocalizedHtmlString(" Quotes Sent") (8)</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">@SharedLocalizer.GetLocalizedHtmlString("View Quotes")</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body"><i class="fas fa-file-signature"></i> @SharedLocalizer.GetLocalizedHtmlString("Service Contract Reports")</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">@SharedLocalizer.GetLocalizedHtmlString("View Reports")</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>@SharedLocalizer.GetLocalizedHtmlString("New Leads")
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar mr-1"></i>@SharedLocalizer.GetLocalizedHtmlString("Total New Leads")
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100" height="40"></canvas></div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="~/assets/demo/chart-area-customer.js"></script>
    <script src="~/assets/demo/chart-bar-customer.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/datatables-demo.js"></script>
}

