@model IEnumerable<BlueMoonAdmin.Models.Customers>

@{
    ViewData["Title"] = "Customers";
}

<div class="container-fluid">
    <h1 class="mt-4">Search &amp; Manage Customers</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Customers</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row pt-4 border p-2">
                <div class="col-6">
                    <h3 class="text-black mb-3">Add new customer - click create new customer</h3>
                </div>
                <div class="col-6 text-right">
                    <a asp-controller="Customers" asp-action="CreateCustomer" class="btn btn-primary">Create New Customer</a>
                </div>
            </div>
        </div>
        </div>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i> To Search for a customer start typing in the search, the table will automaically adjust as you type</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Contact Name</th>
                            <th>Office Address</th>
                            <th>Telephone Number</th>
                            <th>Service Contract</th>
                            <th>Last Service Date</th>
                            <th>Current Machine</th>
                            <th>View</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            @*<th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>*@
                        </tr>
                    </tfoot>
                    <tbody>
                        @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Position</td>
                                <td>@item.Office</td>
                                <td>@item.Age</td>
                                <td>@item.StartDate</td>
                                <td>@item.Salary</td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/datatables-demo.js"></script>
}

