@model BlueMoonAdmin.Models.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Customers";
}
<form method="post" asp-action="ViewCustomer">
    <input asp-for="Customers.Id" hidden />
    <div class="container-fluid">
        <h1 class="mt-4 pb-2">Viewing Customer @Model.Customers.CompanyName</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Customers" asp-action="CustomerDashboard"> Customer Dashboard</a></li>
            <li class="breadcrumb-item active">View Customer</li>            
        </ol>
        <!-- #region Form -->
        <div class="container col-12 border mb-4">
            <div class="row mb-2">
                <div class="col-12">
                    <div class="form-group row pt-3">
                        <div class="col-3">
                            <label asp-for="Customers.CompanyName"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="Customers.ContactName"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="Customers.EmailAddress"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="Customers.TelephoneNumber"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <input asp-for="Customers.CompanyName" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="Customers.ContactName" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="Customers.EmailAddress" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="Customers.TelephoneNumber" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Customers.OfficeAddress"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="Customers.AddressLine"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="Customers.CityRegion"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="Customers.PostCode"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <input asp-for="Customers.OfficeAddress" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="Customers.AddressLine" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="Customers.CityRegion" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="Customers.PostCode" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Customers.ServiceContract"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="Customers.LastServiceDate"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="Customers.CurrentMachine"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="Customers.CustomerSince"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <input asp-for="Customers.ServiceContract" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="Customers.LastServiceDate" class="form-control" readonly type="date"/>
                        </div>
                        <div class="col-3">
                            <input asp-for="Customers.CurrentMachine" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="Customers.CustomerSince" class="form-control" readonly type="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Customers.Service"></label>
                        </div>
                        <div class="col-1">
                            <input asp-for="Customers.Service" class="form-control" disabled />
                        </div>
                        </div>


                        <div class="form-group row pt-4 mb-4">
                            <div class="col-8 offset-2 row">
                                <div class="col">
                                    <a asp-controller="Customers" asp-action="UpdateCustomer" asp-route-Id="@Model.Customers.Id" class="btn btn-primary w-75">Edit Customer Details</a>
                                </div>
                                <div class="col">
                                    <a asp-action="DeleteCustomer" asp-route-Id="@Model.Customers.Id" class="btn btn-danger w-75">Delete Customer</a>
                                </div>
                                <div class="col">
                                    <a asp-controller="Customers" asp-action="Index" class="btn btn-secondary w-75">Go Back</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            <!-- #endregion -->
        </div>
    </div>
</form>


<div class="container-fluid col-12">
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6 pt-2">
                    <i class="fas fa-table mr-1"></i> Add Additional Contact Details i.e. Accounts Dept Contact...
                </div>
                <div class="col-6 text-right">
                    <a asp-controller="Contacts" asp-action="CreateContact" asp-route-Id="@Model.Customers.Id" class="btn btn-primary">Create New Contact</a>
                </div>
            </div>
        </div>
      
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableContact" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Telephone Number</th>
                            <th>Mobile Number</th>
                            <th>Email Address</th>
                            <th>Department</th>
                            <th>Is Primary</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.Contacts)
                        {
                        <tr>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.TelephoneNumber</td>
                            <td>@item.MobileNumber</td>
                            <td>@item.Email</td>
                            <td>@item.ContactDepartment</td>
                            <td>@item.PrimaryContact</td>
                            <td>
                                <div class="w-100 btn-group" role="group">
                                    <a asp-controller="Contacts" asp-action="ViewContact" asp-route-Id="@item.Id" class="btn btn-primary mx-1">View</a>
                                    @*<a asp-controller="Customers" asp-action="DeleteCustomer" asp-route-Id="@customer.Id" class="btn btn-danger mx-1">Delete</a>*@
                                    <a asp-controller="Contacts" asp-action="UpdateContact" asp-route-Id="@item.Id" class="btn btn-danger mx-1">Edit</a>
                                    
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid col-12">
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6 pt-2">
                    <i class="fas fa-table mr-1"></i> Add Additional Billing or Site Address Details i.e. Accounts Dept Address...
                </div>
                <div class="col-6 text-right">
                    <a asp-controller="Addresses" asp-action="CreateAddress" asp-route-Id="@Model.Customers.Id" class="btn btn-primary">Create New Address</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableAddress" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Contact Name</th>
                            <th>Office Address</th>
                            <th>Address Line 1</th>
                            <th>Post Code</th>
                            <th>Notes</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Addresses)
                        {
                            <tr>
                                <td>@item.CompanyName</td>
                                <td>@item.ContactName</td>
                                <td>@item.OfficeAddress</td>
                                <td>@item.AddressLine</td>
                                <td>@item.PostCode</td>
                                <td>@item.CustomerNotes</td>
                                <td>
                                    <div class="w-100 btn-group" role="group">
                                        <a asp-controller="Addresses" asp-action="ViewAddress" asp-route-Id="@item.Id" class="btn btn-primary mx-1">View</a>
                                        @*<a asp-controller="Customers" asp-action="DeleteCustomer" asp-route-Id="@customer.Id" class="btn btn-danger mx-1">Delete</a>*@
                                        <a asp-controller="Addresses" asp-action="UpdateAddress" asp-route-Id="@item.Id" class="btn btn-danger mx-1">Edit</a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid col-12">
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6 pt-2">
                    <i class="fas fa-table mr-1"></i> Add Customer Notes...
                </div>
                <div class="col-6 text-right">
                    <a asp-controller="Notes" asp-action="CreateNotes"  asp-route-Id="@Model.Customers.Id"  class="btn btn-primary">New Customer Note</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableNotes" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="15%">Date</th>
                            <th width="70%">Notes</th>
                            <th width="10%">Action</th>
                            <th width="5%">Delete</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var item in Model.Notes)
                        {
                        <tr>
                            <td>
                                @if (@item.Date != null)
                                {
                                    <input asp-for="@item.Date" disabled style="border: 0px; background-color:white"  />
                                }
                            </td>
                            <td>
                                @*javascript to auto resize the box info here- http://www.jacklmoore.com/autosize/*@

                                <textarea rows="2" asp-for="@item.notes" class="form-control" text-wrap="normal" type="text" placeholder="Please add your note here"></textarea>
                                <span asp-validation-for="@item.notes" class="text-danger"></span>
                            </td>
                            <td>
                                <div class="w-100 btn-group" role="group">
                                    <a asp-controller="Notes" asp-action="ViewNotes" asp-route-Id="@item.Id" class="btn btn-primary mx-1">View</a>
                                    @*<a asp-controller="Customers" asp-action="DeleteCustomer" asp-route-Id="@customer.Id" class="btn btn-danger mx-1">Delete</a>*@
                                    <a asp-controller="Notes" asp-action="UpdateNotes" asp-route-Id="@item.Id" class="btn btn-danger mx-1">Edit</a>
                                </div>
                            </td>
                            <td><a asp-controller="Notes" asp-action="DeleteNotes" asp-route-Id="@item.Id" class="btn btn-danger mx-1">Delete</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/datatables-demo.js"></script>
}


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
