@model BlueMoonAdmin.Models.Customers

@{
    ViewData["Title"] = "Customers";
}


<form method="post" asp-action="CreateCustomer">
    <div class="container-fluid">
        <h1 class="mt-4">Managing {CustomerName}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Customers" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Edit Customer</li>
        </ol>
        <!-- #region Form -->
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="CompanyName"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="ContactName"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="OfficeAddress"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="TelephoneNumber"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <input asp-for="CompanyName" class="form-control" />
                        </div>
                        <div class="col-3">
                            <input asp-for="ContactName" class="form-control" />
                        </div>
                        <div class="col-3">
                            <input asp-for="OfficeAddress" class="form-control">
                        </div>
                        <div class="col-3">
                            <input asp-for="TelephoneNumber" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ServiceContract"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="LastServiceDate"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="CurrentMachine"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="CustomerSince"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <input asp-for="ServiceContract" class="form-control" />
                        </div>
                        <div class="col-3">
                            <input asp-for="LastServiceDate" class="form-control" />
                        </div>
                        <div class="col-3">
                            <input asp-for="CurrentMachine" class="form-control">
                        </div>
                        <div class="col-3">
                            <input asp-for="CustomerSince" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8 offset-2 row">
                            <div class="col">
                                <input type="submit" class="btn btn-info w-75" value="Update Customer" />
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-danger w-75">Delete Customer</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- #endregion -->
        </div>
    </div>
</form>
<hr />

<div class="container-fluid col-12">
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6 pt-2">
                    <i class="fas fa-table mr-1"></i> Add Additional Contact Details i.e. Accounts Dept Contact...
                </div>
                <div class="col-6 text-right">
                    <a asp-controller="Customers" asp-action="CreateCustomer" class="btn btn-primary">Create New Contact</a>
                </div>
            </div>
        </div>
      
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Contact Name</th>
                            <th>Telephone Number</th>
                            <th>Email Address</th>
                            <th>Is Primary</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            @*<th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>*@
                        </tr>
                    </tfoot>
                    <tbody>
                        @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Position</td>
                                <td>@item.Office</td>
                                <td>@item.Age</td>
                                <td>@item.StartDate</td>
                                <td>@item.Salary</td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid col-12">
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6 pt-2">
                    <i class="fas fa-table mr-1"></i> Add Additional Billing or Site Address Details i.e. Accounts Dept Address...
                </div>
                <div class="col-6 text-right">
                    <a asp-controller="Customers" asp-action="CreateCustomer" class="btn btn-primary">Create New Address</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Contact Name</th>
                            <th>Office Address</th>
                            <th>Telephone Number</th>
                            <th>Email Address</th>
                            <th>Is Primary</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            @*<th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>*@
                        </tr>
                    </tfoot>
                    <tbody>
                        @*@foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Position</td>
                                    <td>@item.Office</td>
                                    <td>@item.Age</td>
                                    <td>@item.StartDate</td>
                                    <td>@item.Salary</td>
                                </tr>
                            }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid col-12">
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6 pt-2">
                    <i class="fas fa-table mr-1"></i> Add Customer Notes...
                </div>
                <div class="col-6 text-right">
                    <a asp-controller="Customers" asp-action="CreateCustomer" class="btn btn-primary">New Customer Note</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="20%">Date</th>
                            <th width="60%">Notes</th>
                            <th width="10%">Edit</th>
                            <th width="10%">Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            @*<th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>*@
                        </tr>
                    </tfoot>
                    <tbody>
                        @*@foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Position</td>
                                    <td>@item.Office</td>
                                    <td>@item.Age</td>
                                    <td>@item.StartDate</td>
                                    <td>@item.Salary</td>
                                </tr>
                            }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/datatables-demo.js"></script>
}


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
